

#root {
  all: unset;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-color: #f4f2ee;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}

.container {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

body{
  background-color: #f4f2ee;
}

a {
  text-decoration: none;
  color: #5E63B6;

  &:hover {
    color: #464555;
  }
}

/* * { 
  outline: 1px solid red; 
} */